<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
     <%- include('./partials/head') %>
     <title>Home page</title>


</head>
<body>

     <%- include('./partials/nav') %>
     <h1>hello world</h1>
   
     <%- include('./partials/script') %>
</body>
</html>